<div class="stats-container">
 <button ng-click="back()">Back to Game</button>

 <div class="games-container">

   <div class="game" ng-repeat="game in games">

       <div>Game started at {{::game.startedAt | date:"MM/dd/yyyy 'at' h:mm:ssa"}}<div>
       <div>Game finished at {{::game.finishedAt | date:"MM/dd/yyyy 'at' h:mm:ssa"}}<div>
       <div class="winner">Winner: {{::game.winner}}</div>


           <div class="dealer">
               <div>Dealer cards:</div>
               <div class="cards-container">
                   <card value="card" ng-repeat="card in game.players['DEALER'].cards"></card>
               </div>
               <div class="points">Points: {{::game.players['DEALER'].points}}</div>
           </div>

           <div class="player">
               <div>Dealer cards:</div>
               <div class="cards-container">
                   <card value="card" ng-repeat="card in game.players['PLAYER 1'].cards"></card>
               </div>
               <div class="points">Points: {{::game.players['PLAYER 1'].points}}</div>
           </div>

   </div>

 </div>


</div>