<div class="stats-container">
 <button ng-click="back()">Back to Game</button>

    <div class="general-stats">
        <ul>
            <li>Dealer wins: <b>{{stats.dealerWins}}</b></li>
            <li>Player1 wins: <b>{{stats.playerWins}}</b></li>
            <li>Time Spent in games: <b>{{stats.timeSpent/1000}} seconds</b></li>
        </ul>
    </div>

 <div class="games-container">

   <div class="game" ng-repeat="game in games track by $index">

       <div>Game started on <b>{{::game.startedAt | date:"MM/dd/yyyy 'at' h:mm:ssa"}}</b>
           and finished at <b>{{::game.finishedAt | date:"h:mm:ssa"}}</b><div>
       <div class="winner">Winner: <b>{{::game.winner}}</b></div>

           <div class="dealer">
               <div>Dealer cards ({{::game.players['DEALER'].points}}):</div>
               <div class="cards-container">
                   <card value="card" ng-repeat="card in game.players['DEALER'].cards"></card>
               </div>
           </div>

           <div class="player">
               <div>Player 1 cards: ({{::game.players['PLAYER 1'].points}})</div>
               <div class="cards-container">
                   <card value="card" ng-repeat="card in game.players['PLAYER 1'].cards"></card>
               </div>
           </div>

   </div>

 </div>


</div>