.stats-container {
  background: green;
  position: absolute;
  top: 50px;
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  left: 50%;
  transform: translateX(-50%);

  .games-container {

    .game {
      margin-bottom: 10px;
      border: 1px solid white;
      padding: 10px;

      .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }


  }

}